@import "/A4S/css/normalize.css";
@import "servicestyle.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*{
  font-family: 'poppins', sans-serif;
}

.hero {
  min-height: 50vh;
  background: #000 url(../image/hero3.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}





.hero-content {
  position: absolute;
  bottom: 15px;
  color: #fff;
}



.theme-text {
  color: #474af0;
}



.footer-img {
  background: linear-gradient(to top, #08070dba, #fa0707cc), url("../image/back.jpg") no-repeat center;
  background-size: cover;
}

.top-bar{
  background-color: #f8f8ff;
}

.about-header {
  background: linear-gradient(to top, #08070dba, #fa0707cc), url("../image/book.jpg") no-repeat center;
  background-size: cover;
}
.services-header {
  background: linear-gradient(to top, #08070dba, #fa0707cc), url("../image/tower.jpg") no-repeat center;
  background-size: cover;
}

.team-wrapper {
  background: rgb(235, 235, 241);
  padding: 50px 0px;
}

.section-title{
  padding: 30px 0px;
}

.section-title h2{
  font-size: 44px;
  font-weight: 700;
}

.team-item{
  position: relative;
  background: #c9c9d7;
  margin: 15px 5px;
  overflow: hidden;
  border-radius: 5px;
}

.item-meta{
  position: absolute;
  background: #716f78;
  width: 100%;
  bottom: -35px;
  left: 0;
  padding: 10px 20px;
  transition: all .5s;
}

.team-item:hover .item-meta{
  bottom: 0px;
}

.item-meta h3{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.item-meta h6 {
  color: #00ffee;
  font-size: 12px;
}

.item-image img{
  transition: all .5s;
}

.item-meta:hover img{
  background: #262321;
} 

.about-para{
  font-size: small;
}

.about-head{
  font-size: medium;
}

.service-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.services-body{
  /* background: linear-gradient(to top, #08070dba, #24168fcc), url("../image/") no-repeat center;
    background-size: cover; */
}

.contact-head{
  background-image: url('../image/contact.jpg');
  background: linear-gradient(to top, #08070dba,
    #fa0707cc), url("../image/contact.jpg") no-repeat center;
  background-size: cover;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}