@import "/A4S/css/normalize.css";
@import "servicestyle.css";

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

.trans {
  transition: all 0.3s ease;
}

.trans:hover {
  color: #ff3400;
  padding-left: 10px;
}

.hero {
  min-height: 50vh;
  background: #000 url(../image/hero3.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}





.hero-content {
  position: absolute;
  bottom: 15px;
  color: #fff;
}

.team .member {
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

.team .member .social a {
  transition: color 0.3s;
  color: #111111;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: #1b0760;
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #918ca4;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
}


.theme-text {
  color: #474af0;
}

.card-img-top {
  height: 200px;
  width: 100%;
}

.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover {
  color: white;
}

.card::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0%;
  background: #474af0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}

.card:hover::before {
  left: 0%;
  color: white;
}

.container-fluid {
  background-image: url("blob-scene-haikei.svg");
  background-position: center;
  background-size: cover;
}

